p{
    font-family: Arial;
    margin-top: 0px;

}
.header{
    font-size:30px;
    font-weight: bold;
    width: 500px;
    line-height: 36px;
    margin-bottom: 5px;
}
.view{
    font-size: 14px;
    color: rgb(96,96,96);
    margin-bottom:30px;
    }
.Author{
    font-size: 14px;
    color: rgb(96,96,96);
    margin-bottom: 12px;
}
.Text{
    font-size: 14px;
    color: rgb(96,96,96);
    width: 270px;
    line-height: 20px;
    margin-bottom: 100px;
}
.shop{
    color:white;
    background-color: rgb(277, 65, 64);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}
.span{
    cursor: pointer;
}
.span:hover{
   text-decoration: underline;
}